.header__lang-link {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  margin: 0 18px 6px 0;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (max-width: 623px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}

