.place__title {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

@media screen and (min-width: 624px) and (max-width: 987px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 623px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
  }
}
