.place__url-heading {
  color: #aaa;
  margin: 0 0 12px;
  font-size: 12px;
  line-height: 20.4px;
  font-style: normal;
  letter-spacing: 0.2em;
}

@media screen and (min-width: 624px) and (max-width: 987px) {
  .place__url-heading {
    font-size: 12px;
    line-height: 12px;
  }
}

@media screen and (max-width: 623px) {
  .place__url-heading {
    font-size: 12px;
    line-height: 12px;
  }
}
