.photo-grid {
  max-width: 1460px;
  margin: 92px auto;
}

@media screen and (min-width: 624px) and (max-width: 987px) {
  .photo-grid {
    margin: 88px 24px;
  }
}

@media screen and (max-width: 623px) {
  .photo-grid {
    margin: 64px 16px;
  }
}
