.places {
  margin: 0 auto;
  list-style: none;
  padding: 0 148px;
}

@media screen and (min-width: 988px) and (max-width: 1263px) {
  .places {
    padding: 0 48px;
  }
}

@media screen and (min-width: 624px) and (max-width: 987px) {
  .places {
    padding: 0 24px;
  }
}

@media screen and (max-width: 623px) {
  .places {
    padding: 0;
  }
}
