.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 56px 148px 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
}

@media screen and (min-width: 988px) and (max-width: 1263px) {
  .lead {
    margin: 48px 48px 0;
  }
}

@media screen and (max-width: 987px) {
  .lead {
    margin: 48px 0 0;
  }
}
