.cover__subtitle {
  max-width: 360px;
  text-align: center;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
}

@media screen and (max-width: 623px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }
}
