.intro__text{
  margin-top: 40px;
  margin-bottom: 33px;
  max-width: 690px;
  font-size: 16px;
  line-height: 1.63;
}

@media screen and (max-width: 623px) {
  .intro__text {
    margin-bottom: 34px;
  }
}
