.intro{
  margin-top: 92px;
  padding: 0 148px;
  max-width: 690px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
}

@media screen and (min-width: 988px) and (max-width: 1263px) {
  .intro {
    padding: 0 48px;
  }
}

@media screen and (min-width: 624px) and (max-width: 987px) {
  .intro {
    max-width: 100%;
    padding: 0 24px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 623px) {
  .intro {
    margin-top: 64px;
    max-width: 100%;
    padding: 0 16px;
  }
}
