.lead__subtitle {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  margin-top: 16px;
  margin-bottom: 40px;
  max-width: 640px;
  text-align: center;
}

@media screen and (max-width: 724px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
  }
}
