.cover {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  background: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  min-height: 740px;
  display: flex;
  margin: 92px 0 0;
}

@media screen and (min-width: 1264px) {
  .cover {
    margin: 92px 48px 0;
  }
}

@media screen and (min-width: 988px) and (max-width: 1263px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (min-width: 624px) and (max-width: 987px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 623px) {
  .cover {
    min-height: 200px;
  }
}
