.cover {
  font-family: 'Inter';
  background: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  min-height: 740px;
  display: flex;
  margin: 0
}

@media screen and (min-width: 1264px) {
  .cover {
    margin: 0 48px 0;
  }
}

@media screen and (min-width: 964px) and (max-width: 1263px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (min-width: 624px) and (max-width: 963px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 623px) {
  .cover {
    min-height: 200px;
  }
}
