.footer {
  margin: 92px 48px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media screen and (max-width: 623px) {
  .footer {
    margin: 64px 16px 0;
    flex-direction: column;
    align-items: flex-start;
  }
}
